<a href="https://colab.research.google.com/github/SarahSouzaPontes/webscrapping_icms/blob/main/WebScrapping_ICMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install requests
! pip install bs4
! pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
# Caminho = 'https://www.taxgroup.com.br/intelligence/tabela-icms-atualizada/'
req = requests.get('https://www.taxgroup.com.br/intelligence/tabela-icms-atualizada/')
if req.status_code == 200:
  print('ok!')
  content = req.content
  soup = BeautifulSoup(content, 'html.parser')
  tabela = soup.find(name = 'table', id = 'tablepress-19')
  tabela_str = str(tabela)
  df= pd.read_html(tabela_str)[0]
  display(df)
else:
  print('Não foi possível executar a requisição!')

ok!

,Alíquota,FECP,Alíquota Efetiva,NCM,Descrição
0,18 %,-,18 %,-,"Operações com demais bens e mercadorias, para ..."
1,7 %,-,7 %,-,Arroz
2,7 %,-,7 %,-,Feijão
3,7 %,-,7 %,-,Milho
4,7 %,-,7 %,-,Macarrão
...,...,...,...,...,...
73,18 %,2 %,20 %,2847,"Cosméticos: Água oxigenada 10 a 40 volumes, in..."
74,18 %,2 %,20 %,4818.2,Cosméticos: Lenços de desmaquiar
75,12 %,-,12 %,8702.30.00,Veículos novos: outros veículos automóveis par...
76,12 %,-,12 %,8702.40.90,Veículos novos: outros veículos automóveis par...
77,12 %,-,12 %,8702.90.00,Veículos novos: outros veículos automóveis par...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
writer = pd.ExcelWriter('df.xlsx')
df.to_excel(writer)
writer.save()